@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
    background-color:#393939;
    text-align:center;
  }
  
  h1{color:black;}

  h2, h3 {
    color:white;  
  }
  
.index-header {
    padding:20px;
    height:800px;
    background-image: url('../images/background.jpeg');
    background-size: cover; 
    background-position: center; 
    display:flex;
    justify-content: center;
    align-items:center;
}
.index-header::before {
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position:absolute;
    width: 61%;
    height: 58%;
    background-image: url('../images/flamechaser logo.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation: fadeIn 2s ease-in-out forwards;
}
  
  header h1 {
    margin: 20;  
  }

   nav ul {
    list-style: none;
    display: flex;
    color: white;
    background-color: #333; 
    padding: 20px;
    border-radius: 5px; 
    justify-content: space-around;
}
nav ul li{
    color:white;
}
    nav ul:hover {
    background-color: #555;
    color: white;
}

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
        background-color: #494949;
        padding: 20px;
        margin: 10px 0; 
        border-radius: 5px; 
  }
  
  section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px; 
  }
  
  p{
    color:white;
    font-size:20px;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .container {
    display: flex;
    justify-content: space-around; 
}

.container img {
    width: 100px; 
    height: auto; 
}
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  .mc_embed_signup{
    margin:auto;
    display:block;
  }

  footer p {
    margin: 0;  
  }
  