body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #333;  
  }
  
  /* Header */
  header {
    color: white;
    padding: 20px;
  }
  
  header h1 {
    margin: 20;  
  }
  
  header nav ul {
    list-style: none;  
    display: flex;
  }
  
  header nav li {
    margin-left: 20px;  
  }
  body{
    margin:20px;
  }
  /* Main content */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px; 
  }
  
  /* Images */
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Footer */  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  footer p {
    margin: 0;  
  }
  