html {
    scroll-behavior: smooth;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
    background-color:#393939;
    text-align:center;
  }
  
  h1{color:black;}

  h2, h3 {
    color:white;  
  }
  
.index-header {
    padding:20px;
    height:800px;
    background-image: url('../images/background.jpeg');
    background-size: cover; 
    background-position: center; 
    display:flex;
    justify-content: center;
    align-items:center;
}
.index-header::before {
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position:absolute;
    width: 61%;
    height: 58%;
    background-image: url('../images/flamechaser_logo.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation: fadeIn 2s ease-in-out forwards;
}
  
  header h1 {
    margin: 20px;  
  }

  nav {
    background-color: #494949; 
    color: white; 
    padding: 20px; 
    height:100px;
    display: flex;
    align-items: center;
    justify-content:center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height:100%;
    justify-content: center; 
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white; 
    text-decoration: none;
    font-size:28px;
    margin: 50px;
}
nav ul li a:hover, nav ul li a:focus {
    box-shadow: inset 0 0 40px white; 
    transition: box-shadow 0.3s ease-in-out; 
}
nav ul li a.fade-link {
    text-decoration: underline;
}

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
        background-color: #494949;
        padding: 20px;
        margin: 10px 0; 
        border-radius: 5px; 
  }
  
  section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px; 
    font-size:25px;
  }

  section h3{
    font-size:20px;
  }
  
  .image-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(600px, 1fr));
    gap:10px;
  }

  p{
    color:white;
    font-size:20px;
    margin-left:100px;
    margin-right:100px;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .container {
    display: flex;
    justify-content: space-around; 
}
h1{color:white;}
.container img {
    width: 400px; 
    height: auto; 
}
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  #mc_embed_signup{
    margin:auto;
    display:block;
    background-color:white;
  }

  footer p {
    margin: 0;  
  }
  #fade-overlay {
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
#table-of-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #595959; 
    padding: 20px; 
}
#table-of-contents h2 {
    font: italic;
}
#table-of-contents ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#table-of-contents ul li {
    display: inline;
}

#table-of-contents ul li a {
    color: white; 
    text-decoration: none;
    font-size: 20px; 
    margin: 50px; 
}
#table-of-contents ul li a:hover, nav ul li a:focus {
    box-shadow: inset 0 0 40px white; 
    transition: box-shadow 0.3s ease-in-out; 
}
a[href="#top"] {
    color: #ff0; /* Change to your desired color */
    background-color: #494949; /* Change to your desired color */
    padding: 10px 20px; /* Adjust as needed */
    margin:20px;
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Add rounded corners */
}
#mc_embed_signup_scroll h2 {
  color: black;
  padding-top:20px;
  margin:20px;
}